@font-face {
    font-family: 'Juliette-Regular';
    src: url("../fonts/Juliette-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Juliette-Uncut';
    src: url("../fonts/Juliette-Uncut.otf") format("opentype");
}

@font-face {
    font-family: 'Juliette-Symbols';
    src: url("../fonts/Juliette-Symbols.otf") format("opentype");
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

h1 {
    font-family: 'Juliette-Uncut';
    font-size: 75px;
}

h2 {
    font-family: 'Juliette-Uncut';
    font-size: 50px;
    margin: 25px 0px;
    text-align: center;
}

h3 {
    font-family: 'Juliette-Uncut';
    font-size: 18px;
    letter-spacing: 2px;
}

h6 {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 16px;
}

p {
    font-family: 'Avenir Next';
    font-size: 16px;
}

/* Navigation Below */ 

.navigation-container {
    position: absolute;
    width: 100%;
    background-color: transparent !important;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.logo {
    font-family: 'Juliette-Uncut';
    font-size: 18px;
    color: #fff8f2 !important;
    padding: 16px;
    margin-right: 0px;
    letter-spacing: 1px;
}

.logo:hover {

}

.nav-items-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    font-family: 'Juliette-Uncut';
    font-size: 16px;
    padding: 16px;
    color: #fff8f2;
    border: none;
    background-color: transparent;
    letter-spacing: 1px;
}
  
.dropdown:hover .dropbtn {
    color: #b96d49;
    transition: .3s ease-in-out;
}

.dropbtn a {
    font-family: 'Juliette-Uncut';
    font-size: 16px;
    color: #fff8f2;
    text-decoration: none;
}

.dropbtn a:hover {
    color: #b96d49;
    transition: 0.3s ease-in-out;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0d1112;
    width: 165px;
    z-index: 999;
}
 
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdown-content a {
    color: #fff8f2;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 18px;
    text-decoration: none;
    display: block;
    font-family: 'Avenir Next';
    font-size: 16px;
}
  
.dropdown-content a:hover {
    color: #b96d49;
    transition: .3s ease-in-out;
}

/* button css below */

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button-outline {
    font-family: 'Juliette-Symbols';
    font-size: 175px;
    color: #fff8f2;
}

.button-text {
    font-family: 'Juliette-Uncut';
    font-size: 24px;
    color: #fff8f2;
    position: absolute;
    padding-top: 15px;
}

/* hero section css below */

.hero-section {
    height: 789px;
    background-color: #0d1112;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    scroll-snap-align: start;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.about-me img {
    height: 500px;
    opacity: .75;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
}

.hero-section h1 {
    color: #fff8f2;
    z-index: 2;
}

/* project overview css below */

.about-me-container {
    height: 699px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 175px 0px;
    scroll-snap-align: start;
}

.about-overview h6 {
    margin-bottom: 20px;
}

.about-details h6 {
    margin-bottom: 20px;
}

.about-details p {
    margin-bottom: 50px;
}

/* get in touch css below  ----------- */

.get-in-touch {
    background-color: #b96d49;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    scroll-snap-align: start;
}

.get-in-touch-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.get-in-touch .button-outline {
    color: #0d1112;
}

.get-in-touch .button-text {
    color: #0d1112;
}

.get-in-touch a {
    text-decoration: none;
    color: #0d1112;
}

.dividing-line img {
    width: 100%;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    scroll-snap-align: start;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 25px;
}

.social a {
    margin-right: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #0d1112;
    text-decoration: 0px;
}

.social a:hover {
    text-decoration: underline;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 25px;
    cursor: pointer;
    color: #0d1112;
    outline: none;
}

.email:focus #email-text-1,
.email:focus #email-text-2 {
    opacity: 0;
}

.email:focus #email-text-3 {
    opacity: 1;
    transition: .25s
}

#email-text-1, #email-text-2 {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    position: absolute;
    right: 200;
}

#email-text-3 {
    cursor: default;
    position: absolute;
    margin-top: 60px;
    right: calc(50% - 100px);
    color: #fff8f2;
    opacity: 0;
    transition: 2.5s;
    transition-timing-function: cubic-bezier(1, -1, 1, .5);
}

#email-text-2 {
    margin-right: 75px;
}

.email #email-text-1, .email:hover #email-text-2 {
    opacity: 1;
}

.email:hover #email-text-1, .email #email-text-2 {
    opacity: 0;
}

/* Footer CSS below --------- */

.icons {
    border-radius: 50%;
}

.footer-container {
    background-color: #0d1112;
}

.footer-container a {
    text-decoration: none;
    color: #fff8f2;
}

.footer-container a:hover {
    color: #b96d49;
}

.footer-container p:hover {
    color: #b96d49;
}

.footer-container p {
    padding: 7px 0px;
    margin-bottom: 0px;
    margin-left: 3px;
}

.copyright {
    text-align: center;
}

/* Responsive Web Design CSS below  ----------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}