h1 { 
    font-family: 'noir-regular'; /* hero section font */ 
    font-size: 65px;
}

h2 {
    font-family: 'noir-regular'; /* project header font */ 
    font-size: 50px;
    margin: 25px 0px;
    text-align: center;
}

h3 {
    font-family: 'noir-italic'; /* hero section font */ 
    font-size: 75px;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Avenir Next';
    font-weight: 300;
    font-size: 18px;
}

h5 {
    font-family: 'Avenir Next';
    font-size: 18px;
}

h6 {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 16px;
}

p {
    font-family: 'Avenir Next';
    font-size: 18px;
    font-weight: 300;
}

.italic {
    font-family: 'noir-italic';
}

/* Navigation Below */ 

.navigation-container {
    position: absolute;
    width: 100%;
    background-color: transparent !important;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.logo {
    font-family: 'noir-regular'; /* logo */
    letter-spacing: 2px;
    font-size: 24px;
    color: #0d1112 !important;
    padding: 16px;
    margin-right: 0px;
    letter-spacing: 3px;
}

.nav-items-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    padding: 10px 15px;
    border: none;
    background-color: transparent;
}
  
.dropdown:hover .dropbtn {
    transition: .3s ease-in-out;
}

.dropbtn a {
    font-family: 'noir-regular'; /* nav items */
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    color: #0d1112;
    text-decoration: none;
    margin: 0px 10px;
}

.dropbtn a:hover {
    font-family: 'noir-italic';
    transition: 0.3s ease-in-out;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D0A285;
    width: 165px;
    z-index: 999;
}
 
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdown-content a { 
    color: #0d1112;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 18px;
    text-decoration: none;
    display: block;
    font-family: 'noir-regular'; /* dropdown content */
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
}
  
.dropdown-content a:hover {
    transition: .3s ease-in-out;
}

.button {
    border: 1px solid;
    margin: 0px 10px;
}

/* button css below */

.button {
    border: 1px solid #0d1112;
    margin: 0px 10px;
    height: 45px;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'noir-regular';
    font-size: 14px;
}

.button:hover {

}

.button a {
    text-decoration: none;
    letter-spacing: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: #0d1112 !important;
}

.button a:hover {  
    font-family: 'noir-italic';
}

/* hero section css below */

.hero-container {
    background-color: #D0A285;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    scroll-snap-align: start;
    height: 700px;
}

.hero-container h4 {
    margin-top: 35px;
}

.hero-container h1 {
    margin-top: 35px;
}

.hero-container .button {
    margin-top: 50px;
    width: 155px;
}

/* project image css below */

.project-image {
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.project-image img {
    height: 700px;
    object-fit: contain;
}

/* project overview css below */

.project-overview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 0px;
    scroll-snap-align: start;
}

.project-overview h6 {
    margin-bottom: 20px;
}

.project-details h6 {
    margin-bottom: 20px;
}

.project-details p {
    margin-bottom: 50px;
}

/* our process css below */

.our-process-container {
    background-color: #d0a285;
    padding: 100px 0px;
    scroll-snap-align: start;
}

.our-process-container h2 {
    text-align: center;
}

.our-process-container .ph-arrow-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

.our-process-container .ph-arrow-down {
    display: none;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}
.process-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.process-item {
    height: 150px;
    width: 150px;
    display: flex;
    border: solid 1px #0d1112;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 25px;
}

.process-item h5 {
    margin: 0px;
}

/* create a plan css below */

.research-plan-container {
    padding-top: 100px;
    scroll-snap-align: start;
}

.research-plan-container h2 {
    text-align: center;
}

.research-plan-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 0px;
}

.research-plan-content h6 {
    margin-bottom: 20px;
}

.research-plan-content p {
    margin-bottom: 50px;
}

/* Gathering Insights Section ----------- */

.gathering-insights-container {
    padding: 100px 0px;
    background-color: #0d1112;
    scroll-snap-align: start;
}

.gathering-insights-container h2 {
    text-align: center;
    color: #fff8f2;
    padding-bottom: 50px;
}

.gathering-insights-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gathering-insights-content .left-column {
    margin-right: 50px;
    color: #fff8f2;
}

.gathering-insights-content .right-column {
    color: #D0A285;
}

/* Results User Persona Section ----------- */
.user-persona-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
}

.user-persona-container h2 {
    text-align: center;
}

.user-persona-container p {
    margin-top: 50px;
    text-align: center;
}

.user-persona-container img {
    margin-top: 50px;
    height: 602px;
    object-fit: contain;
    width: 960px;
}

/* Competitor Analysis Section ----------- */

.competitor-analysis-container {
    padding: 100px 0px;
    scroll-snap-align: start;
}

.competitor-analysis-container h2 {
    text-align: center;
}

.competitor-analysis-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.competitor-analysis-content p {
    text-align: center;
}

.competitor-analysis-content .left-column {
    margin: 0px 45px;
}

.competitor-analysis-content .middle-column {
    margin: 0px 45px;
}

.competitor-analysis-content .right-column {
    margin: 0px 45px;
}

.left-column img {
    height: 50px;
    width: 155px;
    object-fit: contain;
    margin-bottom: 50px;
}

.middle-column img {
    height: 50px;
    width: 155px;
    object-fit: contain;
    margin-bottom: 50px;
}

.right-column img {
    height: 50px;
    width: 150px;
    object-fit: contain;
    margin-bottom: 50px;
}

/* Defining the Problem Statement Section ----------- */
.problem-statement-container {
    background-color: #0d1112;
    padding: 100px 0px;
    scroll-snap-align: start;
}

.problem-statement-content {

}

.problem-statement-container h2 {
    color: #fff8f2;
    text-align: center;
    padding-bottom: 50px;
}

.problem-statement-content p {
    color: #fff8f2;
    text-align: center;
}

/* Exploring Features Section ----------- */
.features-container {
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
}

.features-container h2 {
    text-align: center;
}

.features-container p {
    margin-top: 50px;
    text-align: center;
}

.features-container img {
    margin-top: 50px;
    height: 575px;
    object-fit: contain;
    width: 1050px;
}

/* Style Guide Section ----------- */
.style-guide-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}

.style-guide-container h2 {
    text-align: center;
}

.style-guide-container p {
    margin-top: 65px;
    text-align: center;
}

.style-guide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.font-one img {
    height: 70px;
    object-fit: contain;
    margin-bottom: 45px;
}

.font-one p {
    margin-top: 0px;
    margin-bottom: 15px;
}

.font-two img {
    height: 50px;
    object-fit: contain;
    margin-bottom: 45px;
}

.font-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.font-two p {
    margin-top: 0px;
    margin-bottom: 15px;
}

.color img {
    height: 70px;
    object-fit: contain;
}

.color p {
    margin-top: 0px;
    margin-bottom: 15px;
}

/* Moodboard Section ----------- */

.moodboard-container {
    padding: 100px 0px;
    scroll-snap-align: start;
}

.moodboard-container h2 {
    text-align: center;
}

.moodboard-content {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.moodboard-content img {
    height: 400px;
    object-fit: contain;
}

/* User Testing Section ----------- */
.user-testing-container {
    padding: 100px 0px;
    scroll-snap-align: start;
}

.user-testing-container h2 {
    text-align: center;
}

.user-testing-content {
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-testing-content img {
    height: 450px;
    object-fit: contain;
    margin: 0px 50px;
}

.user-testing-container p{
    text-align: center;
}

/* Final Prototype Section ----------- */
.final-prototype-container {
    padding-top: 100px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
}

.final-prototype-container h2 {
    text-align: center;
}

.final-prototype-container img {
    margin-top: 50px;
    height: 500px;
    object-fit: contain;
    width: 910px;
}

.final-prototype-container .button-outline {
    color: #0d1112;
    font-size: 155px;
}

.final-prototype-container a {
    color: #0d1112;
    text-decoration: none;
}

.final-prototype-container .button {
    margin: 50px 0px;
}

/* Conclusion Section ----------- */
.conclusion-container {
    padding: 100px 0px;
    text-align: center;
    background-color: #D0A285;
    scroll-snap-align: start;
}

.conclusion-container p {
    margin-top: 50px;
}

/* Next Case Study Section ----------- */
.next-cs-container {
    max-width: 100%;
    scroll-snap-align: start;
}

.next-cs-container h2 {
    font-size: 35px;
    text-align: center;
}

.next-cs-container .left-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFF8F2;
    align-items: center;
    padding: 50px;
    width: 100%;
}

.next-cs-container .right-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5D8C4;
    align-items: center;
    padding: 50px;
    width: 100%;
}

.next-cs-container .button  {
    margin: 0px 50px;
}

/* Footer CSS below --------- */

/* Responsive Web Design CSS below  ----------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

    html {
        scroll-snap-type: unset;
    }

    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 36px !important;
    }

    .button {
        height: 55px;
        width: 225px !important;
    }

    .button a {
        font-size: 22px;
    }

    .mobile-unfriendly {
        display: none !important;
    }

    .hero-container {
        text-align: center;
        padding: 100px 20px;
        text-align: center;
        justify-content: space-between;
        height: 800px;
    }

    .hero-container h1 {
        margin: 25px 0px;
    }

    img {
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
    }

    .project-overview-container {
        flex-direction: column-reverse;
        padding: 40px;
    }

    .process-icons {
        flex-direction: column;
        align-items: center;
    }

    .ph-arrow-down {
        display: flex !important;
        padding: 10px 0px;
    }

    .research-plan-content {
        flex-direction: column;
        padding: 40px;
    }

    .gathering-insights-content {
        flex-direction: column;
        padding: 40px;
    }

    .user-persona-container p {
        padding: 40px;
    }

    .competitor-analysis-content {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .competitor-analysis-content p {
        margin-bottom: 50px;
    }

    .competitor-analysis-content img {
        margin-bottom: 20px !important;
        height: 50px !important;
    }

    .problem-statement-content {
        padding: 40px;
    }

    .features-container p {
        padding: 0px 40px;
    }

    .style-guide-content .font-one img {
        width: 300px !important;
    }

    .style-guide-content .font-two {
        align-items: center;
    } 

    .style-guide-content .font-two img {
        width: 100px !important;
    }

    .style-guide-content p {
        padding: 0px 40px;
    }

    .user-testing-content {
        flex-direction: column;
    }

    .user-testing-content img {
        height: 600px !important;
    }

    .user-testing-container p {
        padding: 0px 40px;
    }

    .final-prototype-container img {
        width: 350px !important;
    }

    .conclusion-container p {
        padding: 0px 40px;
    }

    .pager {
        padding: 20px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}
